* {
  margin: 0;
  padding: 0;
}
p {
  margin: 0px 0px 0px 0px !important;
}

.special_words {
  color: #FCF000;
  text-decoration: underline;
  font-weight: lighter;
  text-decoration-thickness: 0.2rem;
}
body {

  overflow-x: hidden;
}
.well {
    background-image: url(./Images/Profile_test2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  background-position-x: center;
  display: flex;
  flex-direction: column-reverse;
}
#navbarNav {
  /* position: absolute !important; */
  justify-content: flex-end;
}
.navbar-brand {
  text-shadow: 2px 2px #000000;
  z-index: 99999999999 !important;
}
nav {
  margin-bottom: 18em;
}
.fonts {
  color: #bbb;
  font-size: 24px;
  margin-left: 58%;
}
.media_container {
  height: 100%;
}
.icon {
  margin-right: 7px;
  color: #FCF000;
}

.promotion_album {
 
  color: #FCF000;
  font-size: 86px;
  font-weight: bolder;
  font-family: "Calibri", "sans-serif";
  font-weight: bolder;
}

/* ----------------------------------------------end of Nav bar and page 1 ---------------------------- */
.discography {
  color: white;
  padding-top: 2em;
}
.discography_container {
  background-color: black;
  /* overflow-x: hidden; */
  /* width: 103vw !important; */
}

.album_description {
  font-size: 18px;
}
.album_description > h1 {
  padding-top: 5px;
}
.album_description > h2 {
  font-size: 16px;
  color: white;
  width: 122px;
  border: 1px solid #FCF000;
  border-radius: 14px;
  text-align: center;
  height: 28px;
  padding-top: 1.5px;
  font-weight: bolder;
}

.discography > .album_container {
  position: relative;
  left: 0%;
}
p {
  font-family: "Barlow", Arial, Tahoma, sans-serif;
}
.album_description > p {
  font-size: 16px;
  margin-top: 37px;
  line-height: 28px;
  text-align: justify;
}

.album_pic {
  max-width: 100%;
  margin-bottom: 33px;
  height: auto;
}
/* -----------------------------------------------------------END OF DISCROGRAPGY---------- */
.about_container {
  background: #ffffff;
}

.history_description {
  padding-top: 2em;
}
.history_description > .about_info {
  margin-right: 38px;
}
.history_description > .about_info > h2 {
  font-size: 17px;
  color: black;
  width: 105px;
  border: 1.7px solid #FCF000;
  border-radius: 14px;
  text-align: center;
  padding-top: 2px;
  height: 29px;
  position: relative;
  top: 19px;
  font-weight: bolder;
}
.about_me_h1 {
  font-size: 44px;
  padding-top: 29px;
}

.para {
  margin-top: 33px;
  font-size: 16px;
  line-height: 28px;
  text-align: justify;
}
.music_info {
  margin-right: 18px;
}
.music_info_h1 {
  font-size: 44px;
  padding-top: 24px;
}

/* -------------------------------------end of about section ------------------------------------- */

.event_container {
  background-color: #FCF000;
  /* width: 103vw !important; */
}
.event_para {
  padding-top: 2em;
}

.image-wrapper > img {
  max-width: 100%;
  height: auto;
}

.image-wrapper {
  border-color: #e2e2e2;
  /* width: 103vw; */
  /* margin-left: -15px; */
}
.event_para > h2 {
  font-size: 17px;
  color: black;
  width: 102px;
  border: 1.7px solid rgb(255, 255, 255);
  border-radius: 14px;
  text-align: center;
  padding-top: 1px;
  height: 27px;
}

.event_para > h1 {
  font-size: 44px;
  padding-top: 14px;
}

.event_para > p {
  font-size: 16px;
  margin-top: 37px;
  line-height: 28px;
  text-align: justify;
}

/* --------------------------------------------------end of tour description ------------------------------------ */

.event_schedule {
  display: flex;
}

.event {
  border-bottom: 1.5px solid black;
  height: 25vh;
  margin-left: 22px;
}

.event_day {
  font-size: 14px;
  color: black;
  font-size: 40px;
  font-weight: 700;
}

.event_month {
  color: black;
}

.thecolor {
  color: black;
}
.location {
  font-size: 18px !important;
  font-weight: 500 !important;
  color: black;
  padding: 2.5px 50px 0px 1px;
  display: flex;
}
.city {
  color: black;
  padding-left: 9px;
  font-size: 17px;
}

/* ------------------------------------------------------ */
.reservation {
  /* position: relative;
    left: 28em; */
  margin-top: 8px;
}

.notify {
  height: 6vh;
  width: 80vw;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid #0e0e0e;
  background: transparent;
  color: #0e0e0e;
}

/* ----------------------------------------------------------------footer----------------------------- */
footer {
  font-family: "Calibri", "sans-serif";

}

.full {
  width: 100%;  
  
  

}
.gap {
height: 30px;
width: 100%;
clear: both;
display: block;
}
.footer {
background: white;
height: auto;
padding-bottom: 30px;
position: relative;
width: 100%;
border-bottom: 1px solid black;
border-top: 1px solid black;
}
.footer p {
margin: 0;
}
.footer img {
max-width: 100%;
}
.footer h3 {
color: black;
font-size: 18px;
font-weight: 600;
line-height: 27px;
padding: 40px 0 0px;
text-transform: uppercase;
margin-bottom: 15px;
}

.footer h4 {
color: black;
font-size: 2em;
font-weight: 600;
line-height: 38px;
padding: 40px 0 10px;
/* font-family: cursive; */
font-family: "Calibri", "sans-serif";
font-weight: lighter
}

.footer ul {
font-size: 13px;
list-style-type: none;
margin-left: 0;
padding-left: 0;
margin-top: 0px;
color: black;
padding: 0 0 8px 0;
}

.email{
border-bottom: 3px solid black;
font-size: 14px;
}
.footer ul li a {
padding: 0 0 12px 0;
display: block;
}
.footer a {
color: black;
font-weight: lighter;
}

.footer p {
color: black;
font-weight: lighter;
}

.footer a:hover {
text-decoration:none;
font-weight: bold;
}
.supportLi h4 {
font-size: 20px;
font-weight: lighter;
line-height: normal;
margin-bottom: 0 !important;
padding-bottom: 0;
}

.bg-gray {
background-image: -moz-linear-gradient(center bottom, black 0%, black 100%);
box-shadow: 0 1px 0 black;
}


.footer a {
color: black;
}

.footer-bottom {
margin-top: 2em;
border-top: 1px solid black;
padding-top: 20px;
padding-bottom: 10px;
}
.footer-bottom p.pull-left {
padding-top: 6px;
font-size: 0.75em
}
.event3 {
  border: none;
}

.news {
  text-align: center;
  font-size: 27px;
  

}

.sign_up {
  height: 38px;
  width: 120px;
  background: yellow;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid #0e0e0e;
  color: #0e0e0e;

}

#bar.scrolled{
  background: red;
}
